/* Reset CSS */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  /* -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; */
  user-select:text ;
  font-weight: 300;
}

/* Fixes issues with Safari for user selection */
input,
textarea {
  user-select: text;
  -webkit-user-select: text;
}
/* Sets default size for alt text */
img {
  font-size: 8px;
}

/* For Chrome/Edge and Safari */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
}

/* For Firefox */
input[type="number"] {
    appearance: textfield;
}


:root {
    --header-height: 3.5rem;
    --content-padding: 1.5rem;
}

@media (max-width: 639px) {
  :root {
    --content-padding: 1rem;
  }
}


/* Scrollbar styling */

::-webkit-scrollbar {
  width: 14px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #d8d9dd;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: #c3c4c9;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

.minimum-fill-screen-height {
  min-height: calc(100vh - (var(--header-height)));
}
.full-screen-height {
  height: calc(100vh - (var(--header-height)));
}